<p style="font-size: 33px; font-weight: 700; margin-bottom: 3rem">데이터 구조(Data Structure) I</p>

데이터 구조(Data Structure)란 데이터에 편리하게 접근하고, 변경하기 위해서 데이터를 저장하거나 조작하는 방법을 말한다.

> **Program = Data Structure + Algorithm**
> - Niklaus Wirth

- 알고리즘에 빈번히 활용되는 순서가 있는(ordered) 데이터 구조 
    - 문자열(String)
    - 리스트(List)
- 데이터 구조에 적용 가능한 Built-in Function

# 문자열(String)

> 변경할 수 없고(immutable), 순서가 있고(ordered), 순회 가능한(iterable)

문자열의 다양한 조작법(method)

https://docs.python.org/ko/3/library/stdtypes.html#string-methods

## 조회/탐색

### `.find(x)` 

x의 **첫 번째 위치**를 반환합니다. 없으면, `-1`을 반환합니다.

In [3]:
# 변수명이 a인 문자열을 만들어봅시다.
a = 'apple'

In [6]:
# find 메서드로 문자열에 p가 있는지 찾아봅시다.
a.find('p')

1

In [7]:
# find 메서드로 문자열에 z가 있는지 찾아봅시다.
a.find('z')

-1

### `.index(x)`

x의 **첫번째 위치**를 반환합니다. 없으면, 오류가 발생합니다.

In [8]:
# 변수명이 a인 문자열을 만들어봅시다.
a = 'apple'

In [9]:
# index 메서드로 문자열의 p의 위치를 확인해봅시다.
a.index('p')

1

In [10]:
# index 메서드로 문자열의 z의 위치를 확인해봅시다.
a.index('z')

ValueError: substring not found

## 문자열 변경

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [270]:
# 변수명이 a, b인 문자열을 만들어봅시다.
a = 'yaya!'
b = 'wooooowoo'

In [271]:
# replace 메서드로 변수 a의 글자 y를 h로 변경해봅시다.
print(a.replace('y','h'))
print(a)

haha!
yaya!

In [13]:
# replace 메서드로 변수 b의 글자 o 2개를 _로 변경해봅시다.
b.replace('o', '_', 2)

'w__ooowoo'

### `.strip([chars])`

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip), 오른쪽을 제거합니다(rstrip).

지정하지 않으면 공백을 제거합니다.

In [175]:
# 변수명이 a, b인 문자열을 만들어봅시다.
a = '   hello!  \n'
b = 'hihihihahahahihi'

In [176]:
# strip 메서드로 변수 a의 양쪽 공백을 제거해 봅시다.
a.strip()

'hello!'

In [177]:
# lstrip 메서드로 변수 a의 왼쪽 공백을 제거해 봅시다.
a.lstrip()

'hello!  \n'

In [178]:
# rstrip 메서드로 변수 b의 오른쪽에서 글자 hi를 제거해 봅시다.
b.rstrip('hi')

'hihihihahaha'

### `.split([chars])`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [25]:
# 변수명이 a인 문자열을 만들어봅시다.
a = 'a_b_c'

In [26]:
# split 메서드로 문자열의 _를 기준으로 나누어 리스트로 반환해봅시다.
a.split('_')

['a', 'b', 'c']

In [29]:
# 사용자의 입력값을 받아 변수 i에 저장합니다.
# 입력받은 문자열을 split 메서드로 공백을 기준으로 나누어 리스트로 반환해봅시다.
i = input()
i.split(' ')

35453 351531

['35453', '351531', '']

### `'separator'.join(iterable)`

특정한 문자열로 만들어 반환합니다.

반복가능한(iterable) 컨테이너의 요소들을 separator(구분자)로 합쳐(`join()`) 문자열로 반환합니다.

In [30]:
# 변수명이 word인 문자열, words인 리스트를 만들어 봅시다.
word = '배고파'
words = ['안녕', 'hello']

In [31]:
# join 메서드로 변수 word의 문자열 사이에 !를 넣은 결과를 반환해봅시다.
'!'.join(word)

'배!고!파'

In [33]:
# join 메서드로 변수 words의 문자들을 하나로 합친 결과를 반환해봅시다.
' '.join(words)

'안녕 hello'

### `.capitalize()`, `.title()`, `.upper()`

* `.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

* `.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

* `.upper()` : 모두 대문자로 만들어 반환합니다.

In [34]:
# 변수명이 a인 문자열을 만들어봅시다.
a = 'hI! Everyone, I\'m kim'

In [35]:
# capitalize 메서드로 문자열의 앞글자를 대문자로 만들어 반환해봅시다.
a.capitalize()

"Hi! everyone, i'm kim"

In [36]:
# title 메서드로 문자열의 각각의 단어 앞글자를 대문자로 만들어 반환해봅시다.
a.title()

"Hi! Everyone, I'M Kim"

In [37]:
# upper 메서드로 문자열을 모두 대문자로 만들어 반환해봅시다.
a.upper()

"HI! EVERYONE, I'M KIM"

In [38]:
# print 함수로 변수 a를 출력하여 원본데이터를 확인해봅시다.
print(a)

hI! Everyone, I'm kim

### `.lower()`, `.swapcase()`

* `lower()` : 모두 소문자로 만들어 반환합니다.

* `swapcase()` : 대 <-> 소문자로 변경하여 반환합니다.

In [39]:
# 변수명이 a인 문자열을 만들어봅시다.
a = 'hI! Everyone, I\'m kim'

In [40]:
# lower 메서드로 문자열을 모두 소문자로 만들어 반환해봅시다.
a.lower()

"hi! everyone, i'm kim"

In [41]:
# swapcase 메서드로 문자열의 대소문자를 서로 변경하여 반환해봅시다.
a.swapcase()

"Hi! eVERYONE, i'M KIM"

In [42]:
# print 함수로 변수 a를 출력하여 원본데이터를 확인해봅시다.
print(a)

hI! Everyone, I'm kim

### 기타 문자열 관련 검증 메소드 : 참/거짓 반환
```py
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

```
+-------------+-----------+-------------+----------------------------------+
| isdecimal() | isdigit() | isnumeric() |          Example                 |
+-------------+-----------+-------------+----------------------------------+
|    True     |    True   |    True     | "038", "੦੩੮", "０３８"             |
|  False      |    True   |    True     | "⁰³⁸", "🄀⒊⒏", "⓪③⑧"          |
|  False      |  False    |    True     | "↉⅛⅘", "ⅠⅢⅧ", "⑩⑬㊿", "壹貳參"   |
|  False      |  False    |  False      | "abc", "38.0", "-38"             |
+-------------+-----------+-------------+----------------------------------+
```

In [43]:
# dir 함수로 문자열이 가지고 있는 메소드를 확인할 수 있습니다.
dir('string')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

---

# 리스트(List) 

> 변경 가능하고(mutable), 순서가 있고(ordered), 순회 가능한(iterable)

데이터 구조로서의 리스트(list)와 조작법(method)

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [63]:
# 변수명이 cafe인 리스트를 만들어봅시다.
cafe = ['starbucks', 'tomntoms', 'hollys']
print(cafe)

['starbucks', 'tomntoms', 'hollys']

In [64]:
# append 메서드로 리스트에 banapresso를 추가해봅시다.
cafe.append('banapresso')
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string**[주의]**) 값을 붙일 수가 있습니다.

In [65]:
# extend 메서드로 변수 cafe에 ['wcafe', '빽다방']를 추가해봅시다.
cafe.extend(['wcafe', '빽다방'])
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso', 'wcafe', '빽다방']

In [66]:
# += 연산자로 변수 cafe에 ['mc_cafe', 'droptop']를 추가해봅시다.
# 앞서 배운 list concatenate와 동일합니다.
cafe += ['mc_cafe', 'droptop']
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso', 'wcafe', '빽다방', 'mc_cafe', 'droptop']

In [67]:
# append vs extend

# append 메서드로 변수 cafe에 ['coffeenie']를 추가해봅시다.
cafe.append(['coffeenie'])
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso', 'wcafe', '빽다방', 'mc_cafe', 'droptop', ['coffeenie']]

In [68]:
# append vs extend

# extend 메서드로 변수 cafe에 ['twosome_place']를 추가해봅시다.
cafe.extend(['twosome_place'])
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso', 'wcafe', '빽다방', 'mc_cafe', 'droptop', ['coffeenie'], 'twosome_place']

In [69]:
# extend 메서드로 변수 cafe에 문자열 ediya를 추가해봅시다.
cafe.extend('ediya')
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'banapresso', 'wcafe', '빽다방', 'mc_cafe', 'droptop', ['coffeenie'], 'twosome_place', 'e', 'd', 'i', 'y', 'a']

### `.insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [70]:
# insert 메서드로 변수 cafe 첫번째에 문자열 start를 넣어봅시다.
cafe.insert(0, 'start')
print(cafe)

['start', 'starbucks', 'tomntoms', 'hollys', 'banapresso', 'wcafe', '빽다방', 'mc_cafe', 'droptop', ['coffeenie'], 'twosome_place', 'e', 'd', 'i', 'y', 'a']

In [71]:
# insert 메서드로 변수 cafe 마지막에 문자열 end를 넣어봅시다.
# 마지막 위치는 len함수를 이용합니다.
cafe.insert(len(cafe)+1, 'end')
print(cafe)

['start', 'starbucks', 'tomntoms', 'hollys', 'banapresso', 'wcafe', '빽다방', 'mc_cafe', 'droptop', ['coffeenie'], 'twosome_place', 'e', 'd', 'i', 'y', 'a', 'end']

In [72]:
# insert 메서드로 변수 cafe 길이보다 큰 인덱스에 문자열 !를 넣어봅시다.
# 리스트의 길이를 넘어서는 인덱스는 마지막에 아이템이 추가됩니다.
cafe.insert(len(cafe)+3, '!')
print(cafe)

['start', 'starbucks', 'tomntoms', 'hollys', 'banapresso', 'wcafe', '빽다방', 'mc_cafe', 'droptop', ['coffeenie'], 'twosome_place', 'e', 'd', 'i', 'y', 'a', 'end', '!']

In [272]:
cafe.insert(-1,'-1')
print(cafe)

['start', 'starbucks', 'tomntoms', 'hollys', 'banapresso', 'wcafe', '빽다방', 'mc_cafe', 'droptop', ['coffeenie'], 'twosome_place', 'e', 'd', 'i', 'y', 'a', 'end', '-1', '!']

### `.remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [76]:
# 변수명이 numbers인 리스트를 만들어봅시다.
numbers = [1, 2, 3, 1, 2]

In [77]:
# remove 메서드로 1을 삭제 해봅시다.
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [78]:
# remove 메서드로 1을 한번 더 삭제 해봅시다.
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [79]:
# remove 메서드로 1을 한번 더 삭제 해봅시다.
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.
numbers.remove(1)
print(numbers)

ValueError: list.remove(x): x not in list

In [275]:
numbers = [1, 2, 3, 4, 5, 6]

for number in numbers:
    print(numbers)
    if number + 1 < 5:
        numbers.remove(number+1)
print('끝',numbers)

[1, 2, 3, 4, 5, 6]
[1, 3, 4, 5, 6]
[1, 3, 5, 6]
[1, 3, 5, 6]
끝 [1, 3, 5, 6]

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [84]:
# 변수명이 numbers인 리스트를 만들어봅시다.
numbers = [1, 2, 3, 4, 5, 6]

In [85]:
# pop 메서드로 가장 앞에 있는 숫자을 삭제해봅시다.
# 삭제 후 변수 numbers를 출력해봅시다.
numbers.pop(0)
print(numbers)

[2, 3, 4, 5, 6]

In [86]:
# pop 메서드로 가장 마지막에 있는 숫자를 삭제하고 결과를 변수 a 에 저장합니다.
# 삭제된 숫자와 결과를 모두 출력해봅시다.
a = numbers.pop()
print(a, numbers)

6 [2, 3, 4, 5]

### `.clear()`

리스트의 모든 항목을 삭제합니다.

In [87]:
# 변수명이 numbers인 리스트를 만들어봅시다.
numbers = [1, 2, 3, 4, 5, 6]

In [88]:
# clear 메서드로 리스트의 모든 항목을 삭제합니다.
numbers.clear()
print(numbers)

[]

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [89]:
# 변수명이 a인 리스트를 만들어 봅시다.
a = [1, 2, 3, 4, 5]

In [90]:
# index 메서드로 숫자 3이 있는 위치를 반환합니다.
a.index(3)

2

In [91]:
# index 메서드로 숫자 100이 있는 위치를 확인해봅시다.
# index는 찾는 값이 없으면 오류가 발생합니다.
a.index(100)

ValueError: 100 is not in list

### `.count(x)`

원하는 값의 개수를 반환합니다.

In [92]:
# 변수명이 a인 리스트를 만들어 봅시다.
a = [1, 2, 5, 1, 5, 1]

In [93]:
# count 메서드로 1의 개수를 확인해봅시다.
a.count(1)

3

In [94]:
# 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
a = [1, 2, 1, 3, 4]
target_value = 1
for i in range(a.count(target_value)):
    a.remove(target_value)
print(a)

[2, 3, 4]

### `.sort()`

정렬을 합니다. 

내장함수 `sorted()` 와는 다르게 **원본 list를 변형**시키고, **`None`**을 리턴합니다.

In [95]:
# 변수 lotto에 1부터 45 까지의 숫자가 들어있는 리스트를 저장합니다.
# 6개의 숫자를 랜덤으로 저장합니다.
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)

[4, 13, 11, 35, 2, 10]

In [99]:
# sort 메서드로 리스트를 정렬합니다.
# sort 메서드를 실행한 결과와 원본을 각각 출력해봅니다.
print(lotto.sort())
print(lotto)

None
[2, 4, 10, 11, 13, 35]

In [107]:
# sort 메서드의 reverse옵션을 이용하여 역순 정렬합니다.
lotto.sort(reverse=True)
print(lotto)

[40, 39, 33, 20, 12, 2]

In [110]:
# sorted 함수를 사용한 결과와 비교해봅시다.
import random
lotto = random.sample(range(1, 46), 6)
print(lotto, sorted(lotto))

[28, 15, 12, 4, 5, 45] [4, 5, 12, 15, 28, 45]

### `.reverse()`

반대로 뒤집습니다. **(정렬 아님)**

In [113]:
# 변수 classroom에 이름이 여러개 있는 리스트를 저장합니다.
classroom = ['Tom', 'David', 'Justin']
print(classroom)

['Tom', 'David', 'Justin']

In [114]:
# reverse 메서드로 리스트를 역순으로 만들어줍니다.
classroom.reverse()
print(classroom)

['Justin', 'David', 'Tom']

## 리스트 복사

In [116]:
# 변수 original_list애 원본 리스트를 저장합니다.
original_list = [1, 2, 3]

In [117]:
# 변수 copy_list에 original_list를 저장하고 출력합니다.
copy_list = original_list
print(copy_list)

[1, 2, 3]

In [118]:
# copy_list의 첫번째 값을 5로 바꾸고 original_list를 출력해봅시다.
copy_list[0] = 5
print(original_list)

[5, 2, 3]

In [119]:
# copy_list, original_list 각각의 id 값을 == 연산자로 비교해봅시다.
id(copy_list) == id(original_list)

True

## 데이터의 분류 (*복습*) 
> `mutable` vs. `immutable`

데이터는 크게 변경 가능한 것(`mutable`)들과 변경 불가능한 것(`immutable`)으로 나뉘며, python은 각각을 다르게 다룹니다.

### 변경 불가능한(`immutable`) 데이터

* 리터럴(literal)

    - 숫자(Number)
    - 글자(String)
    - 참/거짓(Bool)

* range()

* tuple()

* frozenset()

In [120]:
# immutable 데이터의 복사는 어떻게 이루어지는지 확인해봅시다
a = 20
b = a
b = 10

print(a)
print(b)

20
10

In [121]:
%%html
<iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=a%20%3D%2020%0Ab%20%3D%20a%0Ab%20%3D%2010%0A%0Aprint%28a%29%0Aprint%28b%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

### 변경 가능한(`mutable`) 데이터

- `list`
- `dict`
- `set`

In [122]:
# mutable 데이터의 복사는 어떻게 이루어지는지 확인해봅시다.
a = [1, 2, 3, 4]
b = a
b[0] = 100

print(a)
print(b)

[100, 2, 3, 4]
[100, 2, 3, 4]

In [123]:
%%html
<iframe width="800" height="500" frameborder="0" src="http://pythontutor.com/iframe-embed.html#code=a%20%3D%20%5B1,%202,%203,%204%5D%0Ab%20%3D%20a%0Ab%5B0%5D%20%3D%20100%0A%0Aprint%28a%29%0Aprint%28b%29&codeDivHeight=400&codeDivWidth=350&cumulative=false&curInstr=0&heapPrimitives=nevernest&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false"> </iframe>

## 리스트 복사 방법

### slice 연산자 사용 `[:]`

In [124]:
# 변수명이 a인 리스트를 만들어봅시다.
a = [1, 2, 3]

In [125]:
# slice 연산자로 리스트 a의 모든 요소를 변수 b에 저장합니다.
# 리스트 b의 첫번째 값을 5로 바꾸고 리스트 a를 출력합니다.
# slice 연산자를 활용하면 새로운 리스트를 저장할 수 있습니다.
# ===== 
b = a[:]

b[0] = 5
print(a)

[1, 2, 3]

### `list()` 활용

In [126]:
# 변수명이 a인 리스트를 만들어봅시다.
a = [1, 2, 3]

In [127]:
# list 함수로 리스트 a를 복사하여 변수 b에 저장합니다.
# 리스트 b의 첫번째 값을 5로 바꾸고 리스트 a를 출력합니다.
# ===== 
b = list(a)

b[0] = 5
print(a)

[1, 2, 3]

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 `다른 얕은 복사(shallow copy)`입니다.

In [128]:
# 변수명이 a인 2차원 리스트를 만들어봅시다.
a = [1, 2, [1, 2]]

In [129]:
# slice 연산자로 리스트 a의 모든 요소를 변수 b에 저장합니다.
# 리스트 b의 index 2번째 리스트의 첫번째 값을 5로 바꾸고 리스트 a를 출력합니다.
# ===== 
b = a[:]

b[2][0] = 5
print(a)

[1, 2, [5, 2]]

* 만일 중첩된 상황에서 복사를 하고 싶다면, `깊은 복사(deep copy)`를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [276]:
# 내부에 있는 리스트까지 복사를 하기위해서 copy 모듈을 활용합니다.
import copy

a = [1, 2, [1, 2]]
b = copy.deepcopy(a)

b[2][0] = 3
print(a)
print(b)

[1, 2, [1, 2]]
[1, 2, [3, 2]]

## List Comprehension

List Comprehension은 표현식과 제어문을 통해 리스트를 생성합니다.

여러 줄의 코드를 한 줄로 줄일 수 있습니다.

---

### 활용법

```python
[expression for 변수 in iterable]

list(expression for 변수 in iterable)
```

### 세제곱 리스트

> 다음의 리스트를 작성하세요.
- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [285]:
# 변수 numbers에 1부터 10까지의 숫자를 저장합니다.
numbers = range(1, 11)

In [286]:
# 반복문을 활용하여 작성합니다.

In [287]:
cubic_list = []
for i in numbers:
    cubic_list.append(i**3)

In [288]:
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [141]:
# List comprehension을 활용하여 작성하세요.

In [289]:
cublic_list = [i**3 for i in numbers]

In [290]:
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## List Comprehension + 조건문

조건문에 참인 식으로 리스트를 생성합니다.

---

**활용법**

```python
[expression for 변수 in iterable if 조건식]

```

### [연습] 짝수리스트
> 다음의 리스트를 작성하세요.

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
# 반복문을 활용하여 작성하세요.

In [150]:
even_list = []
for i in range(1, 11):
    if i % 2 == 0:
        even_list.append(i)

In [151]:
print(even_list)

[2, 4, 6, 8, 10]

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [291]:
even_list = [i for i in range(1, 11) if i % 2 == 0]

In [292]:
print(even_list)

[2, 4, 6, 8, 10]

### [실습] 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 작성하세요.
1. 반복문 활용
2. list comprehension 활용

**[입력 예시]**
```python
girls = ['jane', 'ashley', 'mary']
boys = ['justin', 'eric', 'david']
```

---
**[출력 예시]**

```   
[('justin', 'jane'), ('justin', 'ashley'), ('justin', 'mary'), ('eric', 'jane'), ('eric', 'ashley'), ('eric', 'mary'), ('david', 'jane'), ('david', 'ashley'), ('david', 'mary')]
```

In [154]:
girls = ['jane', 'ashley', 'mary']
boys = ['justin', 'eric', 'david']

In [ ]:
# 반복문을 활용하여 작성하세요.

In [158]:
pair = []
for i in boys:
    for j in girls:
        pair.append((i, j))

In [159]:
print(pair)

[('justin', 'jane'), ('justin', 'ashley'), ('justin', 'mary'), ('eric', 'jane'), ('eric', 'ashley'), ('eric', 'mary'), ('david', 'jane'), ('david', 'ashley'), ('david', 'mary')]

In [ ]:
# List comprehension을 활용하여 작성하세요.

In [293]:
pair = [(i, j) for i in boys for j in girls]

In [294]:
print(pair)

[('justin', 'jane'), ('justin', 'ashley'), ('justin', 'mary'), ('eric', 'jane'), ('eric', 'ashley'), ('eric', 'mary'), ('david', 'jane'), ('david', 'ashley'), ('david', 'mary')]

### [응용] 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾으세요.
1. 반복문 활용
2. list comprehension 활용

---
**[출력 예시]**

```
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 작성하세요.

In [301]:
result = []
for x in range(1, 50):
    for y in range(x+1, 50):
        for z in range(y+1, 50):
            if x**2 + y**2 == z**2:
                result.append((x, y, z))

In [302]:
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [303]:
# List comprehension을 활용하여 작성하세요.

In [304]:
result = [(x, y, z) for x in range(1, 50) for y in range(x+1, 50) for z in range(y+1, 50) if x**2 + y**2 == z**2]

In [305]:
print(result)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### [응용] 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하세요.

**[입력 예시]**

```python
words = 'Life is too short, you need python!'
```

---
**[출력 예시]**

```
Lf s t shrt, y nd pythn!
```

In [334]:
vowels = 'aeiou'
words = 'Life is too short, you need python!'

In [335]:
# 반복문을 활용하여 작성하세요.

In [336]:
result = []
for x in words:
    if x not in vowels:
        result.append(x)

In [337]:
print(''.join(result))

Lf s t shrt, y nd pythn!

In [338]:
# List comprehension을 활용하여 작성하세요.

In [339]:
result = [x for x in word if x not in vowels]

In [340]:
print(''.join(result))

배고파

# 데이터 구조에 적용가능한 Built-in Function

순회 가능한(iterable) 데이터 구조에 적용가능한 Built-in Function

> iterable 타입 - `list`, `dict`, `set`, `str`, `bytes`, `tuple`, `range`

- `map()`
- `filter()`
- `zip()`
- ~~`reduce()`~~ ([참고](https://docs.python.org/ko/3/library/functools.html#functools.reduce))

## `map(function, iterable)`

* 순회가능한 데이터 구조(iterable)의 모든 요소에 function을 적용한 후 그 결과를 돌려준다. 


* return은 `map_object` 형태이다.

In [341]:
numbers = [1, 2, 3]
str_numbers = []
for i in numbers:
    a = str(i)
    str_numbers.append(a)
print(''.join(str_numbers))
# 위의 변수 numbers를 문자열 '123'으로 만드세요. (join 메서드 활용)

123

In [342]:
# List comprehension 활용

In [345]:
new_numbers = ''.join([str(num) for num in numbers])

In [346]:
print(new_numbers)

123

In [ ]:
# map() 활용

In [348]:
new_numbers = map(str, numbers)
print(new_numbers)
print(''.join(new_numbers))

<map object at 0x000001A7FFD48EB0>
123

In [349]:
print(new_numbers)

<map object at 0x000001A7FFD48EB0>

`map()` 함수는 입력값을 처리할 때 자주 활용됩니다.

In [350]:
numbers = ['1', '2', '3']

# 위의 변수 numbers를 정수로 구성된 리스트 [1, 2, 3]으로 만드세요.

In [ ]:
# List comprehension 활용

In [352]:
new_numbers = [int(num) for num in numbers]

In [353]:
print(new_numbers)

[1, 2, 3]

In [ ]:
# map() 활용

In [354]:
new_numbers = list(map(int, numbers))

In [355]:
print(new_numbers)

[1, 2, 3]

첫번째 인자 function은 사용자 정의 함수도 가능합니다.

In [356]:
# 세제곱의 결과를 나타내는 함수가 있습니다.
def cube(n):
    return n ** 3

In [357]:
# 세제곱 함수를 각각의 요소에 적용한 결과값을 구해봅시다.
numbers = [1, 2, 3]

In [358]:
new_numbers = list(map(cube, numbers))

In [359]:
print(new_numbers)

[1, 8, 27]

### [연습] 코딩 테스트의 기본

> 두 정수를 입력 받아 더한 값을 출력하시오.

**[입력 예시]**

3 5

---

**[출력 예시]**

8

In [363]:
# 아래에 코드를 작성하시오.
numbers = map(int, input().split())
total = 0
for number in numbers:
    total += number
print(total)

3 5 6
14

#### `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 `True` 인 것들만 구성하여 반환합니다.


* `filter object` 를 반환합니다.

In [ ]:
# 특정 list에서 홀수만을 걸러내는 코드를 작성해봅시다.

In [364]:
# 홀수를 판별하는 함수가 있습니다.
def odd(n):
    return n % 2

In [365]:
# 홀수인 요소만 뽑아 new_numbers에 저장합니다.
numbers = [1, 2, 3]

In [366]:
new_numbers = list(filter(odd, numbers))

In [367]:
print(new_numbers)

[1, 3]

In [368]:
# 다음의 list comprehension과 동일합니다.

In [371]:
# [x for x in numbers if x % 2]
[x for x in numbers if odd(x)]

[1, 3]

## `zip(*iterables)` 

* 복수의 iterable 객체를 모아(`zip()`)줍니다.


* 결과는 튜플의 모음으로 구성된 `zip object` 를 반환합니다.

In [373]:
girls = ['jane', 'ashley', 'mary']
boys = ['justin', 'eric', 'david']

In [374]:
# zip() 활용하여 짝을 맞추어 본다.

In [375]:
pair = list(zip(girls, boys))

In [376]:
print(pair)

[('jane', 'justin'), ('ashley', 'eric'), ('mary', 'david')]